{% extends 'base.html' %}

{% block header %}
<h1 class="display-4">{{heading}}</h1>
<h2>Tampilkan Playlist:</h2>
{% endblock header %}

{% block konten1 %}

    <ul class="nav">
    <li class="nav-item">
        <a class = "nav-link" href="{% url 'nonton:index' %}">All-post</a>
    </li>
    {% for listPlaylist in Playliest %}
        <li class="nav-item">
            <a class = "nav-link" href="{% url 'nonton:playlist' playlistInput=listPlaylist.playlist%} ">{{listPlaylist.playlist}}</a>
        </li>
    {% endfor %}
    </ul>

    {% for post in Posts %}
        <a href="{% url 'nonton:slug' slugInput=post.slug %}"><h1>{{post.title}}</h1></a>
        <h2>{{post.publish}}</h2>
        <p>{{post.description|truncatechars:200}}</p>
    {% endfor %}
{% endblock konten1 %}
