{% extends 'base.html' %}
{% load static %}

{% block header %}
    <h1 class="text-left">{{title}}</h1>
    <h2 class="lead text-left">{{heading}}</h2>
{% endblock header %}

{% block konten1 %}
    <form method='post'>
        {% csrf_token %}
        <div class="mb-3">
            {{form.name.label_tag}}
            {{form.name}}
        </div>
        <div class="mb-3">
            {{form.email.label_tag}}
            {{form.email}}
        </div>
        <div class="mb-3">
            {{form.password.label_tag}}
            {{form.password}}
        </div>
        <div class="mb-3">
            <div class="form-check">
                {{form.agree.label_tag}}
                {{form.agree}}
            </div>
        </div>
        <br>
        <button type="submit">Send</button>
    </form>

    <h2>{{name}}</h2>
    <h2>{{email}}</h2>
{% endblock konten1 %}



